a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
/* code {
    color: #abb2bf;
    background: #282c34;
}
*/
pre{
    background: #23241f;
}
/*
pre code{
    color: #abb2bf;
    background: #282c34;
} */
.wsite-header{
    height: 0.65rem;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    padding: 0 1rem 0 1rem;
    margin-bottom: 0.12rem;
    box-shadow: 0px 0.1rem 0.15rem #1f2121c7;
    background-color: #fff;
}

.wsite-content{
    margin-top:0.65rem;
    width: 100%;
}
.wsite-content-header{
    width: 100%;
}
.wsite-content-body{
    width: 100%;
}
.wsite-content-body-container{
    margin:0.1rem 1.4rem 0 1.4rem;
}
.wsite-glyphicons{
    top:0.02rem;
    margin-right: 0.1rem;
}
.wsite-footer{

}
.footer_info{
    padding: 0 15px 10px;
    width: 100%;
    background-color: #707070;
}
.footer_info > p{
    text-align: center;
    color: #c8c9ca;
    font-size: 14px;
}
.footer_top{
    height: 70px;
}
.footer_logos{
    margin-top: 30px;
}
.footer_logos > a{
    margin: 0 0.2rem;
}
.footer_logos > a > img{
    height: 0.22rem;
}
.footer_follow{
    text-align: center;
}
.footer_follow > h4{
    color: #c8c9ca;
    font-size: 14px;
    font-weight: bold;
    margin-top: 0.3rem;
}
.footer_contact{
    text-align: center;
    line-height: 50px;
    background: #f8f8f8;
    font-size: 16px;
    font-weight: bold;
}
.footer_contact > a{
    color: #aaaaaa;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .wsite-content-body-article{
        padding: 0 0.2rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .wsite-content-body-article{
        margin: 0.1rem 23% 0 23%;
        padding: 0 0.2rem;
    }
}
